{% extends 'base.html.twig' %}

{% block body %}
    <h1>Probaj list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for probaj in probajs %}
            <tr>
                <td><a href="{{ path('probaj_show', { 'id': probaj.id }) }}">{{ probaj.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('probaj_show', { 'id': probaj.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('probaj_edit', { 'id': probaj.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('probaj_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
