{% extends 'base.html.twig' %}

{% block body %}
    <h1>KosarkaKvote</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kosarkaKvote.id }}</td>
            </tr>
            <tr>
                <th>Gostpobedjuje</th>
                <td>{{ kosarkaKvote.gostPobedjuje }}</td>
            </tr>
            <tr>
                <th>Domacinpobedjuje</th>
                <td>{{ kosarkaKvote.domacinPobedjuje }}</td>
            </tr>
            <tr>
                <th>Hendikep</th>
                <td>{{ kosarkaKvote.hendikep }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kosarkakvote_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
