<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<meta charset="utf-8" />

<title>{% block title %}Muuuucart.rs!{% endblock %}</title>
<style>
    body {
    background-color: lightblue;
    }
    
</style>
</head>
<body>

    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>{{ block('title') }}</h1>
            </div> 
        </div> 
    </header>


<div class="container">

<h1>Utakmice za <i>8.1.2015.</i></h1>

<div class="well">
{% block body %}
    <h1>Kvota</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kvotum.id }}</td>
            </tr>
            <tr>
                <th>Domacin</th>
                <td>{{ kvotum.domacin }}</td>
            </tr>
            <tr>
                <th>Gost</th>
                <td>{{ kvotum.gost }}</td>
            </tr>
            <tr>
                <th>1</th>
                <td>{{ kvotum.pobedjujeDomacin }}</td>
            </tr>
            <tr>
                <th>2</th>
                <td>{{ kvotum.pobedjujeGost }}</td>
            </tr>
            <tr>
                <th>X</th>
                <td>{{ kvotum.neresenIshod }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kvota_index') }}">Vrati se na listu</a>
        </li>
        <li>
            <a href="{{ path('kvota_edit', { 'id': kvotum.id }) }}">Azuriraj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning"type="submit" value="Obrisi">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
</div></div>
<p class="text-center">
{% set a_variable = 'Copyright by Radomir, Uros, Nikola' %}{{ a_variable }}{#Ovo je mnogo lako za koriscenje#}
<br/>
{{ "Nadjite nas na adresi %s br %s."|format("Knez Mihajlova", "8") }}{#A tek ovo!#}
</p>
<br/>
<br/>
</body>
</html>
